@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

<ul class="flex items-center space-x-4">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Home" asp-action="Home" class="bg-blue-600 text-white px-6 py-3 rounded-full text-sm font-medium hover:bg-blue-700 transition-all duration-200 shadow-lg hover:shadow-xl">
            เข้าสู่ระบบ
        </a>
        <form asp-controller="Home" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="bg-red-600 text-white px-6 py-3 rounded-full text-sm font-medium hover:bg-red-700 transition-all duration-200 shadow-lg hover:shadow-xl">
                ออกจากระบบ
            </button>
        </form>
    }
    else
    {
        <a asp-controller="Home" asp-action="Login" class="bg-blue-600 text-white px-6 py-3 rounded-full text-sm font-medium hover:bg-blue-700 transition-all duration-200 shadow-lg hover:shadow-xl">
            เข้าสู่ระบบ
        </a>
    }
</ul>
