@using Microsoft.AspNetCore.Identity
@using SchoolSystem.Models.UserManagement
@inject SignInManager<Users> signInManager

<!--
     bg-blue-50 text-blue-600
     text-gray-600 hover:bg-gray-50 transition-colors duration-200
-->

<li>
    <a asp-controller="Home" asp-action="Home" class="block w-full text-left px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-100">
        <i class="fas fa-home w-6"></i>
        <span class="font-medium">หน้าแรก</span>
    </a>
</li>
@if (User.IsInRole("StudentCouncil"))
{
    <li>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200">
            <i class="fas fa-book w-6"></i>
            <span class="font-medium">StudentCouncil</span>
        </a>
    </li>
}
@if (User.IsInRole("Student"))
{
    <li>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200">
            <i class="fas fa-book w-6"></i>
            <span class="font-medium">Student</span>
        </a>
    </li>
}
@if (User.IsInRole("Teacher"))
{
    <li>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200">
            <i class="fas fa-book w-6"></i>
            <span class="font-medium">Teacher</span>
        </a>
    </li>
}
@if (User.IsInRole("Academic"))
{
    <li>
        <a asp-controller="Academic" asp-action="CurriculumManagement" class="block w-full text-left px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-100">
            <i class="fas fa-book w-6"></i>
            <span class="font-medium">จัดการหลักสูตร</span>
        </a>
    </li>
}
@if (User.IsInRole("Director"))
{
    <li>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200">
            <i class="fas fa-book w-6"></i>
            <span class="font-medium">Director</span>
        </a>
    </li>
}
@if (User.IsInRole("Admin"))
{
    <li>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200">
            <i class="fas fa-book w-6"></i>
            <span class="font-medium">Admin</span>
        </a>
    </li>
}


<li>
    <a href="#" class="block w-full text-left px-4 py-3 rounded-lg text-gray-600 hover:bg-gray-100">
        <i class="fas fa-cog w-6"></i>
        <span class="font-medium">ตั้งค่า</span>
    </a>
</li>